.saved {
  height: 85vh;
  overflow-y: scroll;
}
.saved::-webkit-scrollbar-thumb {
  display: none;
}
.no-saved-videos {
  width: 350px;
  margin-bottom: 10px;
}
.saved-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.saving {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.no-save {
  padding: 10px;
  padding-top: 7px;
}
.saved-vedios-container {
  display: flex;
  font-family: 'Roboto';
  margin: 30px;
  margin-bottom: 10px;
  margin-left: 34px;
}
.go-home-button {
  padding: 6px 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  font-family: 'Roboto';
}
@media screen and (max-width: 576px) {
  .saved-container {
    margin-top: 100px;
  }
  .saved {
    height: 100vh;
    background-color: #ebebeb;
  }
  .saved-vedios-container {
    margin-left: 15px;
    font-size: 15px;
  }
}
