* {
  margin: 0px;
  padding: 0px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
}
.nav-website-log {
  height: 30px;
}
.nav-right-side-details {
  display: flex;
}
.logout-btn {
  background-color: #fff;
  border: 2px solid #3b82f6;
  padding: 0px;
  color: #3b82f6;
  font-weight: 700;
  margin: 15px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
.logout-icon {
  display: none;
}
.theme-img {
  height: 30px;
  margin: 15px;
}
.profile-hamber-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  height: 30px;
  margin: 15px;
}
.hamberger-menu {
  display: none;
}
.nav-dark {
  background-color: #212121;
  border-bottom: 0px solid;
}
.dark-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.logout-pop-up-container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pop-up {
  width: 100px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 40px;
  font-family: 'Roboto';
}
.logout-text {
  font-size: 20px;
  font-family: 'Roboto';
}
.cancel-btn {
  background-color: transparent;
  border: 1px solid #000;
  padding: 7px 25px;
  /* margin-top: 40px; */
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.confirm-btn {
  background-color: transparent;
  border: 1px solid #000;
  padding: 7px 25px;
  /* margin-top: 20px; */
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #fff;
  color: #00306e;
}
.theme-btn {
  background-color: transparent;
  border: none;
}
.popup-content {
  width: 350px;
  height: 150px;
  background-color: #00306e;
  color: #fff;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .navbar-container {
    padding: 10px 25px;
  }
  /* .navbar {
    position: fixed;
    top: 0;

    left: 0;
    width: 100%;
    min-height: 10vh;
    transition: top 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .navbar.hidden {
    top: -70px;
  } */
  .logout-btn {
    display: none;
  }
  .logout-icon {
    display: block;
    align-self: center;
    margin-left: 13px;
    margin-bottom: 5px;
  }
  .profile-img {
    /* display: none; */
    margin: 15px 7px;
    height: 26px;
    margin-bottom: 18px;
  }
  .hamberger-menu {
    display: block;
    margin-bottom: 5px;
  }
  .navbar-container {
    /* box-shadow: 1px 1px 4px 1px #e4e7eb; */
  }
  .nav-dark {
    /* border-bottom: 1px solid #000; */
  }
}
